* {
  font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
  outline: none;
  // box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
